@font-face {
	font-family: 'futurapt-light';
	
	src: url('../fonts/FuturaPT-Light.woff') format('woff'),
	url('../fonts/FuturaPT-Light.ttf') format('truetype');    
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'futurapt-bold';
	
	src: url('../fonts/FuturaPT-Bold.woff') format('woff'),
	url('../fonts/FuturaPT-Bold.ttf') format('truetype');    
	font-weight: 600;
	font-style: normal;
}

// Custom Variable
$primary-color: #f3f3f3;
$body-margin: 20px;
$navbar-dropdown-offset: 1px;
$body-font-family: 'futurapt-light';
$futurapt_black: 'futurept-bold';


$theedge-day:url('../img/theedge-day.jpg');
$theedge-night: url('../img/theedge-night.jpg');

$selector-image0: url('../img/selector-image/selector-0.jpg');
$selector-image1: url('../img/selector-image/selector-1.jpg');
$selector-image2: url('../img/selector-image/selector-2.jpg');
$selector-image3: url('../img/selector-image/selector-3.jpg');


img {max-width:100%;}

*{
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: $body-font-family;
	overflow-x: hidden;
	// font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	margin: 10px;
	min-height: 100vh;
}

header{
	background: #fff;
	width: 98vw;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 100vh;
	position: relative;
	
	.main-logo{
		position: absolute;
		top: 0;
		background: #fff;
		width: 226px;
		height: 67px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		left: 2%;
		a{
			img{
				width: 170px;
				
				@media screen and (max-width: 400px){
					width: 100px;
				}
			}
		}
		@media screen and (max-width: 400px){
			
			width: 164px;
			height: 52px;
		}
		
	}
	
	
	.scroll{
		display: flex;
		justify-content: space-around;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 1px solid #fff;
		align-items: center;
		position: absolute;
		left: 50%;
		bottom: 68px;
		color: #fff;
		i{
			
		}
	}
	
}

#divZoom {
	height: 97vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	
	animation-name: background;
	animation-duration: 8s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	-webkit-animation-name: background;
	-webkit-animation-duration: 8s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: background;
	-moz-animation-duration: 8s;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}



@keyframes background {
	0% {
		background-image: $theedge-day;
	}
	
	100% {
		background-image:$theedge-night ;
	}
}



@mixin easeOut {
	transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
}


.header {
	z-index: 5;
	width: 100%;
}

.burger {
	position: fixed;
	z-index: 10;
	right: 25px;
	top: 25px;
	border: 1px solid #b77108;
	width: 57px;
	padding: 13px 13px;
	cursor: pointer;
	transform: rotateY(0);
	@include easeOut;
	
	@media screen and (max-width: 400px){
		
		top: 10px;
		
	}
	
	
	&__patty {
		width: 28px;
		height: 2px;
		margin: 0 0 4px 0;
		background: #9b6b2c;
		@include easeOut;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	// transform burger into 'x'
	&--close {
		transform: rotate(180deg);
		
		.burger__patty {
			&:nth-child(1) {
				transform: rotate(45deg) translate(4px, 4px);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg) translate(5px, -4px);
			}
		}
	}
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
	visibility: hidden;
	
	&--active {
		visibility: visible;
		z-index: 1;;
	}
	
	&__brand,
	&__list {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		float: left;
		width: 50%;
		height: 100vh;
		overflow: hidden;
	}
	
	&__list {
		margin: 0;
		padding: 0;
		// background: mix(#626465, $primary-color, 95);
		background: #626465;
		list-style-type: none;
		transform: translate3d(0, -100%, 0);
		@include easeOut;
		
		&--active {
			transform: translate3d(0, 0, 0);
		}
	}
	
	&__brand {
		background: $primary-color;
		@include easeOut;
		transform: translate3d(0, 100%, 0);
		
		&--active {
			transform: translate3d(0, 0, 0);
		}
	}
	
	&__item {
		transform: translate3d(500px, 0, 0);
		@include easeOut;
		
		&--active {
			transform: translate3d(0, 0, 0);
		}
	}
	
	&__link {
		display: inline-block;
		position: relative;
		font-size: 30px;
		padding: 15px 0;
		font-weight: 300;
		color: white;
		text-decoration: none;
		color: white;
		@include easeOut;
		
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 10px;
			height: 2px;
			background: white;
			transform: translateX(-50%);
			@include easeOut;
		}
		
		&:hover {
			&:before {
				width: 100%;
			}
		}
	}
	
	// add delay to each menu item
	@for $x from 1 through 6 {
		.menu__item:nth-child(#{$x}) {
			transition-delay: $x * .1s;
		}
	}
}

// responsive tablet view
@include tablet {
	ul.menu__list,
	div.menu__brand {
		float: none;
		width: 100%;
		min-height: 0;
		
		&--active {
			transform: translate3d(0, 0, 0);
		}
	}
	
	.menu__list {
		height: 75vh;
		transform: translate3d(-100%, 0, 0);
	}
	
	.menu__link {
		font-size: 24px;
	}
	
	.menu__brand {
		height: 25vh;
		transform: translate3d(100%, 0, 0);
		
		.logo {
			width: 135px;
			height: 49px;
		}
	}
}

// make the demo look nice, not required for your own use.
// .logo {
	//   width: 200px;
	//   height: 200px;
	//   background: lighten(black, 10);
	//   border-radius: 50%;
	// }
	
	h1, h2, h3, p {
		margin: 0;
		font-weight: 400;
	}
	
	main {
		height: 100vh;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		padding: 8vw;
		
		h1 > a {
			color: white;
			text-decoration: none;
			font-size: 48px;
			font-weight: 300;
		}
	}
	
	.support {
		position: fixed;
		bottom: 24px;
		color: rgba(black, 0.6);
	}
	
	
	
	/*** Section Two Css Here***/
	.section-two{
		margin-bottom: 4rem;
		.title{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			h1{
				font-size: 2rem;
				font-family: $futurapt_black;
				text-transform: uppercase;
				margin: 0 0 2em;
			}
		}
		.s2-content{
			display: flex;
			flex-direction: column;
			
			
			.slog-area{
				display: flex;
				justify-content: space-between;
				@media screen and (max-width:769px){
					flex-wrap: wrap;
				}
				.content{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
					flex-basis: 50%;
					text-align: center;
					@media screen and (max-width:769px){
						flex-wrap: wrap;
						flex-basis: 100%;
					}
					h2{
						font-size: calc(25px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
						margin: 0;
					}
					p{
						width: 77%;
						margin: 0 auto;
						font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
						margin-bottom: 21px;
					}
					.animated-button:link, .animated-button:visited {
						position: relative;
						display: block;
						margin: 30px auto 0;
						padding: 14px 15px;
						color: #fff;
						font-size:14px;
						font-weight: bold;
						text-align: center;
						text-decoration: none;
						text-transform: uppercase;
						overflow: hidden;
						letter-spacing: .08em;
						border-radius: 0;
						text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
						-webkit-transition: all 1s ease;
						-moz-transition: all 1s ease;
						-o-transition: all 1s ease;
						transition: all 1s ease;
					}
					.animated-button:link:after, .animated-button:visited:after {
						content: "";
						position: absolute;
						height: 0%;
						left: 50%;
						top: 50%;
						width: 150%;
						z-index: -1;
						-webkit-transition: all 0.75s ease 0s;
						-moz-transition: all 0.75s ease 0s;
						-o-transition: all 0.75s ease 0s;
						transition: all 0.75s ease 0s;
					}
					
					.animated-button:link:hover, .animated-button:visited:hover {
						color: #FFF;
						text-shadow: none;
					}
					.animated-button:link:hover:after, .animated-button:visited:hover:after {
						height: 450%;
					}
					.animated-button:link, .animated-button:visited {
						position: relative;
						display: block;
						margin: 30px auto 0;
						padding: 15px 15px;
						color: #fff;
						font-size:14px;
						border-radius: 0;
						font-weight: bold;
						text-align: center;
						text-decoration: none;
						text-transform: uppercase;
						overflow: hidden;
						letter-spacing: .08em;
						text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
						-webkit-transition: all 1s ease;
						-moz-transition: all 1s ease;
						-o-transition: all 1s ease;
						transition: all 1s ease;
					}
					
					.animated-button.btn-home {
						color: #000;
						cursor: pointer;
						display: block;
						position: relative;
						border: 2px solid #AB7D36;
						transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
						width: 25%;
						margin-bottom: 25px;
						
					}
					.animated-button.btn-home:hover {
						color: #fff !important;
						background-color: transparent;
						text-shadow: nthree;
					}
					.animated-button.btn-home:hover:before {
						left: 0%;
						right: auto;
						width: 100%;
					}
					.animated-button.btn-home:before {
						display: block;
						position: absolute;
						top: 0px;
						right: 0px;
						height: 100%;
						width: 0px;
						z-index: -1;
						content: '';
						color: #000 !important;
						background: #AB7D36;
						transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
					}
				}
				
			}
			#slog-img1{
				background: url("../img/1.jpg") no-repeat;
				height: 59vh;
				background-position: 50%;
				overflow: hidden;
				width: 49vw;
				@media screen and (max-width:769px){
					width:100%;
				}
				
			}
			#slog-img2{
				background: url("../img/2.jpg") no-repeat;
				height: 59vh;
				background-position: 50%;
				overflow: hidden;
				width: 49vw;
				@media screen and (max-width:769px){
					width:100%;
					order: 2;
				}
				
			}
		}
	}
	
	
	/*** Footer Area CSS Here ***/
	.footer{
		// background: 
		//   /* top, transparent red */ 
		//   linear-gradient(
		// 		rgba(191, 187, 187, 0.45),
		// 		 rgba(216, 140, 86, 0.45)), 
		
		//   /* bottom, image */
		//   url(../img/footer.jpg);
		background: url('../img/footer.jpg')no-repeat;
		background-size: cover;
		background-position: center top;
		height: 35vh; 
		.footer-top{
			display: flex;
			flex-direction: row;
			// justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			margin: 0;
			.box{
				height: 25vh;
				color: #fff;
				padding: 20px;
				a{
					border: 1px solid #fff;
					padding: 10px 30px;
					text-decoration: none;
					color: #fff;
					transition: all 0.5s;
					text-transform: uppercase;
				}
				a:hover{
					background: #fff;
					color: #000;
					
				}
				p{
					font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
					font-weight: 600;
					font-family: $futurapt_black;
					width: 50%;
				}
			}
			.f-div1{
				flex: 1;
				background: rgba(38, 103, 157, 0.4);
			}
			.f-div2{
				flex: 1;
				background: rgba(35, 95, 168,0.8);
			}
			.f-div3{
				flex: 1;
				background: rgba(1, 43, 127,0.8);
			}
			
		}
		.footer-bottom{
			background: #000;
			
			padding: 10px 5.5%;
			color: #fff;
			
			
		}
		.f-btm{
			display: flex;
			justify-content: space-between;
			p{
				
			}
		}
		
		.footer-info{
			background: #000;
			display: flex;
			align-items: flex-end;
			border-bottom: 0.8px solid rgba(255, 255, 255, 0.5);
			font-size: 17px;
			padding: 68px 6% 49px;
			overflow: hidden;
			justify-content: space-between;
			
			.address{
				min-width: 250px;
				flex: 1;
				
				p{
					text-align: left;
					margin: 0;
					color: #8f8f8f;
					font-weight: 600;
					font-family: $futurapt_black;
				}
			}
			.footer-content{
				
				justify-content: space-between;
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-wrap: wrap;
				flex: 2;
				a{
					svg{
						width: 14px;
						height: 55px;
						fill: #fff;
					}
				}
				svg{
					width: 140px;
					margin-bottom: 24px;
				}
				.footer-nav{
					ul{
						display: inline-flex;
						margin: 0;
						padding: 0;
						list-style: none;
						margin-bottom: 6%;
					}
					li{
						margin: 0 20px;
						a{
							text-decoration: none;
							color: #8f8f8f;
							font-weight: 600;
							font-family: $futurapt_black;
							transition: 0.5s ease; 
							&:hover{
								border-bottom: 1px solid #fff;
								
							}
							
						}
					}
				}
			}
			
			.footer-social-icon{
				
				display: flex;
				margin-bottom: 1%;
				flex: 1;
				justify-content: flex-end;
				
				a{
					padding: 5px 12px;
					text-align: center;
					color: #8f8f8f;
					margin-right: 10%;
					font-size: calc(10px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
					// :not(:last-child){
						
						// }
						i{
							
						}
					}
				}
			}
		}
		
		/*** Project Page Css ***/
		
		.project-section{
			.project-content{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: space-around;
				.project-left{
					display: flex;
					#pimg-1{
						background: $selector-image0 no-repeat;
						height: 84vmin;
						background-position: top center;
						transition: all .5s ease-out;
						background-position: top 80%;
						width: 13vmax;
						
					}
					#pimg-2{
						background: $selector-image1 no-repeat;
						height: 84vmin;
						background-position: top center;
						transition: all .5s ease-out;
						width: 13vmax;
					}
					#pimg-3{
						background: $selector-image2 no-repeat;
						height: 84vmin;
						background-position: top center;
						transition: all .5s ease-out;
						width: 13vmax;
					}
					#pimg-4{
						background: $selector-image3 no-repeat;
						height: 84vmin;
						background-position: top center;
						transition: all .5s ease-out;
						width: 13vmax;
					}
				}
				.project-right{
					width: 40%;
					margin: 0 auto;
					text-align: center;
					
					@media screen and (max-width:769px){
						width: 100%;
					}
					h2{
						font-size: calc(25px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
						margin: 0;
					}
					p{
						font-size: calc(10px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
						@media screen and (max-width:769px){
							font-size: calc(13px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
						}
						
					}
				}
			}
		}
		
		
		
		
		
		
		/*** Responsive  Styles **/
		
		@media  screen and (max-width: 1200px){
			.footer{
				.footer-info{
					align-items: center;
					flex-direction: column;
					.address{
						p{
							text-align: center;
							line-height: 29px;
						}
					}
					.footer-content{
						order: -1;
					}
					.footer-social-icon{
						margin-top: 1%;
						a{
							margin-right: 0;
						}
					}
				}
			}
			
		}
		
		@media  screen and (max-width: 768px){
			.footer{
				.footer-content{
					.footer-nav{
						display: none;
					}
				}
			}
		}
		